@page "/"
@using BlazorAppCodingDroplets.Pages.ContactComponents
<PageTitle >Index</PageTitle>
<a href="./test">Test Page</a>
<br/>
<button @onclick="NavigateToTest">Navigate to Test</button>
<br/>
<button @onclick="ShowOrHideContacts">@(isContactsDisplay ? "Hide Contacts" : "Show Contacts") </button><br/>
<ContactList @ref="contactList" Contacts="contacts">
    <NullContact>
        <p class="text-info">Contacts are loading...</p>
    </NullContact>
    <EmptyContact>
        <p class="text-warning">No contacts to display.</p>
    </EmptyContact>
</ContactList>

<br/>
<MyTextBox placeholder="FirstName" />
<MyTextBox @attributes=@(new Dictionary<string,object>{
           {"placeholder","LastName"},
                           {"type","text"},
                           {"disabled","disabled"}
                       })/>
<MyTextBox @attributes=@MyTextBoxAttributes />



