@page "/register"
@inject IAuthService AuthService
<PageTitle>Register</PageTitle>
<h3>Register</h3>
<EditForm Model="user" OnValidSubmit="HandleRegistration">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="email">Email</label>
        <input id="email" @bind-value="user.Email" class="form-control" />
        <ValidationMessage For="() => user.Email" />
    </div>
    <div class="mb-3">
        <label for="password">Password</label>
        <input id="password" type="password" @bind-value="user.Password" class="form-control" />
        <ValidationMessage For="() => user.Password" />
    </div>
    <div class="mb-3">
        <label for="confirmPpassword">Confirm Password</label>
        <input id="confirmPpassword" type="password" @bind-value="user.ConfirmPassword" class="form-control" />
        <ValidationMessage For="() => user.ConfirmPassword" />
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
    @*<ValidationSummary/>*@
</EditForm>
<div class="mt-2 @messageCssClass">
    <span>@message</span>
</div>
@code {
    UserRegister user = new();
    string message = string.Empty;
    string messageCssClass = string.Empty;
    async Task HandleRegistration()
    {
        //Console.WriteLine($"Register User with the Email {user.Email}");
        var result = await AuthService.Register(user);
        message = result.Message;
        messageCssClass = result.Success ? "text-success" : "text-danger";
    }
}
